.para1 {
    color: red;
    text-align: center;
    border: 1px solid blue
}

#para2 {
    color: white;
    background-color: black;
    text-align: left;
    border: 1px solid red;
    border-radius: 10px;
}

.para3 {
    color: #ffcc00;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: orange;
}

a:active {
    color: sienna;
}

a:visited {
    color: green;
}