body {
    background-color: lightgray;
    height: 100%
}
.title {
    background-color: darkslategray;
    color: white;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 5px;
}

.header {
    display: inline;
}

.container {
    margin-left: 175px;
    margin-right: 175px;
}

.button-group {
    margin-left: 1px;
    margin-top: -67px;
}

.button-group .button {
    border: 1px solid black;
    color: white;
    background-color: darkslategray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    display: none;
    cursor: pointer;
    float: left;
    margin: 0;
    margin-left: -1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-group .button:hover {
    background-color: slategray;
}
.text-center {
    text-align: center;
}

.info-box {
    text-align: right;
    margin-top: 67px;
}

.portrait {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 20px;
    padding: 10px;
    background-color: white;
}

.table-date {
    text-align: right;
}

.table-info {
    padding-left: 40px;
}

.image-border {
    border: 1px solid black; 
    box-shadow: 10px 5px 5px black;
    border-radius: 5px; height: 182px
}

.section-header {
    margin-bottom: 0;
}

.left-padding {
    padding-left: 350px;
}

.ui-accordion .ui-accordion-header {
    border: 1px solid black;
}

.ui-accordion .ui-state-active {
    background: darkgray;
}

.ui-widget-content {
    border: 1px solid black;
}

.info-box .ui-widget-content {
    background: lightgray;
    margin-right: 410px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: right;
}

.ui-tabs-vertical .ui-tabs-nav { 
    padding: .2em .2em .2em .2em;
    float: right; 
}

.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }

.ui-tabs-vertical .ui-tabs-nav li a { display:block; }

.ui-tabs-vertical .ui-tabs-nav li .ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }

.ui-tabs-vertical .ui-tabs-panel { 
    float: right;
    margin: 0;
    margin-top: -17px;
}
